<div class="widget-wrap">
    <h3 class="widget-title">CSM</h3>
    <div class="widget">
        <a href="https://bcert.me/bc/html/show-badge.html?b=uufxvngl">
            <img src="/images/2018/csm/seal-csm.png" alt="Certified ScrumMaster®">
        </a>
    </div>
</div>